.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    }

h1{
    display: flex;
    justify-content: center;
}

.right-headings{
    color: red;
    text-align: right;
}

/* .images{
 display: flex;
 flex-wrap: wrap; 

 creates GRID of images
} */

img{
    width: 500px;
    height: 600px;
}
