body{
    background-color: floralwhite;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    }

h1{
    display: flex;
    justify-content: center;
}

.right-headings{
    color: red;
    text-align: right;
}

.images{
    text-align: center;

}

img{
    width: 500px;
    height: 600px;
    margin: 15px;
}

